@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body { height: 100%}

h1 {
  color: #3e3e42;
  font-size:32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
  transform: translateZ(35px);
}

h3 {
  color: #eb285d;
  text-align: center;
  font-size: 16px;
  margin-bottom: 6px;
  transform: translateZ(25px);
}

.cards {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display: inline-block;
  padding: 30px 35px;
  perspective: 1800px;
  position: relative;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);

  
}
.cards_sales {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
    display: inline-block;
    padding: 30px 35px;
    perspective: 1800px;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transform: rotateX(11deg) rotateY(16.5deg);
     text-align: center;
  }
  


   :hover {
     box-shadow: 5px 5px 20px -7px rgba(0,0,0,0.5);
     transform: translatez(60px);
   }
  
  
}

.card__img {
  position: relative;
  height: 100%;
}



.card__one {
  .card__img {
    top: 14px;
    right: -10px;
    height: 110%;
  }
  
  .card__text {
    background-color: #254b60;
  }
}

.card__two {
    .card__img {
    top: 25px;
  }
  .card__text {
    background-color: #274a2e;
  }
}

.card__three {
  .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
  }
  
  .card__text {
    background-color: #3e2222;
  }
}


  .card__text {
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column; 
    height: 70px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  
  .card__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 3px;
  }


  .media {
    width: 100px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
    
 .aside {
   display: block
 }
  