
.carousel div {
    padding: 0;
    animation: cambio 10s infinite alternate linear;
  }
.cuadro { margin-top: 20px;margin-right: 950px;margin-left: 0px; ;}
.borde {float: left}
.img-fluid {margin:auto; display: block;width:1000px}
#left-nav {
    background: #2b2b2b;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;}
.card { width:20rem; margin:20px 0 24px 0; }
.centro {display:flex; justify-content: space-evenly;}
.card-title {
    margin-bottom: 0;
}
.carro {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
h4 {text-align: center;}
p {text-align: center;}
.oferta {display:block; margin: auto;}
.container {text-align: center;}
.titulo {text-align: center; text-decoration: underline;}
.google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    .grad {
        background-image: linear-gradient(to bottom, #C6426E, #642B73);
      }
    body {
        background-image: linear-gradient(to bottom, #C6426E, #642B73);
    }
    .filter-nav {text-align: center;}
   .profile * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
   
  .profile body {
      margin: 50px auto;
      text-align: center;
      width: 800px;
  }
   
  .profile h1 {
      font-family: 'Passion One';
      font-size: 2rem;
      text-transform: uppercase;
  }
   
  .profile label {
      width: 150px;
      display: inline-block;
      text-align: left;
      font-size: 1.5rem;
      font-family: 'Lato';
  }
   
  .profile input {
      border: 2px solid #ccc;
      font-size: 1.5rem;
      font-weight: 100;
      font-family: 'Lato';
      padding: 10px;
  }
   
  .profile form {
      margin: 25px auto;
      padding: 20px;
      border: 5px solid #ccc;
      width: 500px;
      background: #eee;
  }
   
  .profile div.form-element {
      margin: 20px 0;
  }
   
  .profile button {
      text-align: center;
  }
   
  .profile p.success,
   p.error {
      color: white;
      font-family: lato;
      background: yellowgreen;
      display: inline-block;
      padding: 2px 10px;
  }
   
  .profile p.error {
      background: orangered;
  }

a{
	color: #262525;
	text-decoration: none;
}
img{
	max-width: 100%;
}
.carrito-total{
	background: #FC304D;
	cursor:  pointer;
	padding: 5px 10px;
	position: relative;
}
.bolsa{
	position: absolute;
	background: #f2f2f2;
	display: none;
	padding:  5px;
	z-index:  9999;
}
.simpleCart_items{
	width: 350px;
}
.simpleCart_shelfItem{
	padding-top:  15px;
	padding-bottom: 15px;
}
.item-image img{
	width:20rem; margin:20px 0 24px 0;
}
.item_image,
.item_Quantity,
.item_price{
	margin-bottom: 15px;
}
.item_price{
	font-size: 2em;
}
.item-remove a{
	color: #EC2626;
}

.item_add{
	border-radius: 21.5px;
	border:  thin solid;
	transition: .5s;
	padding:  5px 10px;
}
.item_add:hover{
	background: #41DA7B;
	border:  thin solid #2DC466;
	color: #fff;
}

footer {
    background-image: linear-gradient(to bottom, #414146, #dacfe7);
}
h1 {text-align: center}

#formregistro{
    background-image:linear-gradient(to bottom, #17ddc3, #ec6619);
}

img.banner{
    width:-webkit-fill-available; height: 215px ;
}

